---
import { getI18N } from "@/i18n"
import SpotlightCard from "../ui/SpotlightCard"
import TechStackCards from "./TechStackCards"

const currentLocale = Astro.url.pathname.startsWith("/en/") ? "en" : "es"
const t = getI18N({ currentLocale })
---

<section
  id="ai-team"
  class="py-12 md:py-24 lg:py-32 w-full m-auto max-w-5xl mb-20">
  <div class="px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-12 text-center">
      {t.about.title}
    </h2>
    <SpotlightCard
      client:load
      className="custom-spotlight-card p-6"
      spotlightColor="rgba(0, 229, 255, 0.2)">
      <p class="text-white/90 text-lg md:text-xl leading-relaxed">
        {t.about.description}
      </p>
    </SpotlightCard>

    <div class="flex flex-col md:flex-row gap-6 mt-6">
      <TechStackCards client:load />
    </div>
  </div>
</section>
